<div class="page-header">
  <h3><%= @meet.meet_name %> Meet</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Meet name</dt>
      <dd><%= @meet.meet_name %></dd>

      <dt>City</dt>
      <dd><%= @meet.city %></dd>

      <dt>State</dt>
      <dd><%= @meet.state %></dd>

      <dt>Date</dt>
      <dd><%= @meet.date %></dd>

      <dt>Goal Times</dt>
      <dd>
        <% if @meet.goal_time.present? %>
          <%= link_to("#{@meet.goal_time.time.strftime('%I:%M')} (edit)", "/goal_times/#{@meet.goal_time.id}/edit") %>
        <% else %>
          <%= link_to('Set Goal Time', goal_times_new_path(meet_id: @meet.id)) %>
        <% end %>
      </dd>

      <dt>Actual times</dt>
      <dd>
          <% @meet.actual_times.each do |actual_time| %>
            <%= actual_time.time %><br/>
          <% end %>
          <br>
          <%= link_to('Add Actual Time', actual_times_new_path(meet_id: @meet.id)) %>
      </dd>

      <dt>Place</dt>
      <dd><%= @meet.places_id %></dd>
      
      <dt>Athlete notes</dt>
      <dd><%= @meet.athlete_notes %></dd>

      <!--<dt>Users</dt>
      <dd><#%= @meet.users_id %></dd> -->

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/meets" class="btn btn-primary">
        Back
      </a>
      <a href="/meets/<%= @meet.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_meet/<%= @meet.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
                      
    </div>
  </div>
</div>
