<div class="page-header">
  <h1>
    My Results
    <a href="/actual_times/new" class="btn btn-lg btn-success">New Result</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Meet</th>
        <th>Goal times</th>
        <th>Actual times</th>
        <th>Place</th>
      </tr>

      <% @actual_times.each do |actual_time| %>
      <% if !actual_time.nil? %>
      <tr>
        <td><%= actual_time.meet.nil? ? 'Default' : actual_time.meet.meet_name %></td>
        <td><%= actual_time.meet.goal_time.time.strftime("%I:%M") rescue nil %></td>
        <td><%= actual_time.meet.actual_times[0].time.strftime("%I:%M") rescue nil %></td>
        <td><%= actual_time.place %></td>

        <td>
          <a href="/actual_times/<%= actual_time.id %>" class="btn btn-primary">Show</a>
          <a href="/actual_times/<%= actual_time.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_actual_time/<%= actual_time.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
