<!-- Validation failure messages -->
<% if @place.errors.any? %>
  <% @place.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Place #<%= @place.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_place/<%= @place.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for meet -->
      <div class="form-group">
        <label for="meet" class="control-label">
          Meet
        </label>

        <input type="text" id="meet" name="meet" placeholder="Meet" class="form-control" value="<%= @place.meet %>">
      </div>
     
      <!-- Label and input for goal_times -->
      <div class="form-group">
        <label for="goal_times" class="control-label">
          Goal times
        </label>

        <input type="text" id="goal_times" name="goal_times" placeholder="Goal times" class="form-control" value="<%= @place.goal_times %>">
      </div>

      <!-- Label and input for actual_times -->
      <div class="form-group">
        <label for="actual_times" class="control-label">
          Actual times
        </label>

        <input type="text" id="actual_times" name="actual_times" placeholder="Actual times" class="form-control" value="<%= @place.actual_times %>">
      </div>

      <!-- Label and input for place -->
      <div class="form-group">
        <label for="place" class="control-label">
           Place
        </label>

        <input type="text" id="place" name="place" placeholder="Place" class="form-control" value="<%= @place %>">
      </div>

      <button class="btn btn-warning">
        Update Place
      </button>
      or
      <a href="/places/<%= @place.id %>">Cancel</a>
    </form>
  </div>
</div>
